body {
    background-color: #f0f8ff;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    background-color: #4caf9d;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffdd57;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}